Chart: 
<br />
<span id="chat"></span>
<hr />

Message:
<br />
<textarea id="msg" style="width: 300px; height: 100px"></textarea>

<hr />
<button id="send">Send Message</button>

<script>
  $(document).ready(function(){
    App.chat.received = function(data){
      $("#chat").append(data["message"] + "<br />")
    }

    $("#send").click(function(){
      var msg = $("#msg").val();
      App.chat.send_msg(msg)
    })
  })
</script>
