<form method='post'>
  Chart: 
  <br />
  <span id="chat"><%= @chat_log %></span>
  <hr />

  Message:
  <br />
  <textarea id="msg" name="msg" style="width: 300px; height: 100px"></textarea>


  <hr />
  <input type="submit" value="Send Message">
</form>